@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-background-dark: #2a2a2a;
  --color-background-light: #ffffff;
  --color-app-red: #e73828;
  --color-app-black: #070707;
  --color-app-white: #FFFFFF;
}

